.bg {
    background: black;
    padding: 35px;
}

.ct-point {
    stroke-linecap: unset;
}

.ct-label {
    color: white;
    font-size: 1em;
}

#temperature-current, #temperature-title {
    color: #6DECE0 !important;
    margin-bottom: 10px;
}

#temperature .ct-line {
    stroke: #6DECE0 !important;
}

#heartbeat-current, #heartbeat-title {
    color: #ECCD01 !important;
    margin-bottom: 10px;
}

#heartbeat .ct-line {
    stroke: #ECCD01 !important;
}
